<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Document</title>
</head>
<body>
    <header>
        <a class="logo" href="#">Allion</a>
        <nav class="nav-bar"> 
            <ul>
                <li></li>
                <li><button class="log-out"><a href="#">Log out <i class="fas fa-sign-out-alt"></i></a></button></li>
            </ul>
        </nav>
    </header>
  <section>
      
    <form id="t" action="">
        <div class="groupO">
        <input id="customerName" name="customerName" type="text" placeholder="Customer name: ">
        <input id="customerId" name="customerId" type="text" placeholder="Customer ID: ">
        <input id="shopName" name="shopName" type="text" placeholder="Shop name: ">
        <input id="address" name="address" type="text" placeholder="Address: ">
        <input id="phoneNumber" name="phoneNumber" type="text" placeholder="Phone number: ">
        <input id="srNumber" name="srNumber" type="text" placeholder="Sr Number: ">
    </div>
        <div class="groupT">
        <input id="pName" name="pName" type="text" placeholder="Products name">
        <input id="productId" name="productId" type="text" placeholder="Product id">
        <input id="pPrice" oninput= addNumber() name="pPrice" type="text" placeholder="Selling price">
        <input id="qty"  oninput= addNumber() type="number" step="1" min="1" max="" name="quantity" value="1" title="Qty" class="qty " size="4" pattern="" inputmode="" placeholder="qty">
        <input id="disc" oninput= addNumber() name="disc" type="text" placeholder="Discount:">
        <input id="amount" oninput= addNumber() name="amount" type="text" placeholder="Amount:">
        <input id="stock" name="stock" type="text" placeholder="stock:">
        <input id="total" name="total" type="text" placeholder="Total: " readonly>
        <button type="button" id="pAdd" class="add"><i class="fas fa-plus-circle"></i></button>
        </div>
    </div>
   
     </form>

     <button type="button" id="pAdd" class="add">Save  <i class="fas fa-download"></i></button>
 
    
  </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{% static 'main.js' %}"></script>
</body>
</html>